h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: auto;
    margin-right: auto; */
  margin: 0 auto;
  outline: 2px solid tomato;
}
/* ul {
    list-style: none;
} */
/* common styles*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* logo */
.logo-primary {
  margin-right: 93px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.accent {
  color: #2196f3;
}
/* page header */
.page-header {
  border-bottom: 1px solid #ececec;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.header {
  display: flex;
  align-items: center;
}
/* site-nav */
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact .item + .item {
  margin-left: 50px;
}
.contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact .link:hover,
.link:focus {
  color: var(--accent-color);
}
/* icons */
.mail::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
  background-size: contain;
}
/* .mail::before:hover {
  color: var(--accent-color); */

.phone::before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/smartphone.svg);
  background-size: contain;
}
/* hero */
.hero-title {
  max-width: 596px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: #2f303a; */
  max-height: 600px;
  text-align: center;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* button */
.button {
  display: inline-block;
  border: 1px solid transparent;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
}
.button {
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
  background-color: #188ce8;
}
/* sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-work {
  padding-top: 0;
  padding-bottom: 94px;
}
/* specifics */
.specifics-list {
  display: flex;
}
.specifics-list > .specifics-item {
  width: 270px;
}
.specifics-item:not(:last-child) {
  margin-right: 30px;
}
.specifics-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  line-height: 1.14;
  text-transform: uppercase;
}
.specifics-list .text {
  line-height: 1.71;
}
.specifics-item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
/* work */
.work {
  display: flex;
}
.work .item:not(:last-child) {
  margin-right: 30px;
}
/* team */
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-list > .item {
  width: 270px;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-member {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}
/* стилі для портфоліо */

/* скритий заголовок */
.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
}
/* filters  */
.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-list .filter {
  /* display: inline-block; */
  border-radius: 4px;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
  padding: 6px 22px;
  margin-right: 8px;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
}
.filter-list .filter:hover,
.filter:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.filter {
  cursor: pointer;
}
.filter .active {
  background-color: #2196f3;
  color: #ffffff;
}
.filter {
  border: 1px solid transparent;
}
/* .products */
.products {
  display: flex;
  flex-wrap: wrap;
}
.products > .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.products .item:nth-child(3n) {
  margin-right: 0;
}
.products .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.products .products-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.products .products-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
}
.no-gap {
  display: block;
}
.products-card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
/* footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer {
  display: flex;
}
.logo-secondary {
  display: block;
  margin-bottom: 20px;

  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address {
  font-style: normal;
  color: #ffffff;
  line-height: 1.71;
}
.item-address:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}
.social {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}
.social-link {
  display: inline-block;
  margin-top: 20px;
  height: 44px;
  width: 44px;
  background-color: #212121;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-link:nth-child(1) {
  background-image: url(../images/icons/instagram.svg);
}
.social-link:nth-child(2) {
  background-image: url(../images/icons/twitter.svg);
}
.social-link:nth-child(3) {
  background-image: url(../images/icons/facebook.svg);
}
.social-link:nth-child(4) {
  background-image: url(../images/icons/linkedin.svg);
}
.social-media {
  width: 206px;
  margin-left: 70px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
